* {
  margin: 0%;
  gap: 0%;
}
header {
  width: 100%;
  height: 100vh;
}

#Company_info1 {
  width: 100%;
  height: 100vh;
}

#Company_info2 {
  width: 100%;
  height: 100vh;
}

#Company_info3 {
  width: 100%;
  height: 100vh;
}

#Company_info4 {
  width: 100%;
  height: 100vh;
}

#Company_info5 {
  width: 100%;
  height: 100vh;
}

#Company_info6 {
  width: 100%;
  height: 100vh;
}

#Company_info7 {
  width: 100%;
  height: 100vh;
}

footer {
  width: 100%;
  height: 100vh;
}
